<form *ngIf="showAddContact" class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">First Name</label>
    <input type="text" name="firstname" [(ngModel)]="firstname" id="firstname"/>
  </div>
  <div class="form-control">
    <label for="text">Last Name</label>
    <input type="text" name="lastname" [(ngModel)]="lastname" id="lastname"/>
  </div>
  <div class="form-control">
    <label for="text">Number</label>
    <input type="text" name="number" [(ngModel)]="number" id="number"/>
  </div>

  <div class="form-control">
    <label for="text">Note</label>
    <input type="text" name="text" [(ngModel)]="text" id="text"/>
  </div>
  <input type="submit" value="Save Contact" class="btn btn-my-primary btn-block">
</form>
